# api key for llm
genkit-client/.env

# local file based session store for dev
genkit-client/sessions/*
genkit-client/uploads/*
genkit-client/data/*

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
cover/

# Translations
*.mo
*.pot

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the enitre vscode folder
# .vscode/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.npm

# TypeScript
dist/
*.tsbuildinfo

# Genkit
.genkit/

# Monorepo specific
genkit-client/node_modules/
genkit-client/dist/
genkit-client-ui/node_modules
genkit-client-ui/dist/
